table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody tr:hover {
  background-color: #ddd;
}

.container {
  display: flex;
}

.container > div {
  flex: 1;
}
.box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.boton-registrar {
  background-color: rgb(79, 79, 149);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton-registrar:hover {
  background-color: rgb(79, 79, 149);
}

.boton-limpiar {
  background-color: rgb(26, 71, 125);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
